/*
 * Animation Keyframes
 *
 *  "fadeIn"
 */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
 * Background Styles
 */
body {
  background-color: #c9c9c9 !important;
}

#header {
  position: relative;
  height: 300px;
  width: none;
  background-color: #02c39a;
  z-index: 1;
  width: 100%;
}

#main-header-container {
  height: 50%;
  width: 100%;
  background-color: none;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translateY(-10%);
}

.temp-cell {
  display: block;
}

#temperature-cell {
  position: relative;
  width: 60%;
}
#temperature-cell #temp-cell-number {
  width: 100%;
  text-align: center;
}
#temperature-cell #temp-cell-number h2 {
  color: #f0f3bd;
  font-size: 110px;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  margin: 30px 0px 0px 0px;
  padding: 15px;
}
#temperature-cell #temp-cell-city {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
#temperature-cell #temp-cell-city p {
  color: #f0f3bd;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 5px 0px;
}

/*
 * Tab / Pannels
 *
 * "Header > info > forecast
 */
#tab-header {
  background-color: #02c39a;
}

#tab-header .tab-center {
    display: inline-block;
    position: relative;
    left: 25%;
    transform: translateX(50%);
}

.animate-fadein {
  -webkit-animation:  fadeIn 2000ms ease 1 normal both ;
  -moz-animation:  fadeIn 2000ms ease 1 normal both ;
  -ms-animation:  fadeIn 2000ms ease 1 normal both ;
  -o-animation:  fadeIn 2000ms ease 1 normal both ;
  animation:  fadeIn 2000ms ease 1 normal both ;
}

/*
 * Tab / Pannels
 *
 * "Header > info > forecast
 */
.info-card {
  height: 100px;
  width: 100%;
  background-color: #dddddd;
  -webkit-animation: fadeIn 2000ms ease 1 normal both;
  -moz-animation: fadeIn 2000ms ease 1 normal both;
  -ms-animation: fadeIn 2000ms ease 1 normal both;
  -o-animation: fadeIn 2000ms ease 1 normal both;
  animation: fadeIn 2000ms ease 1 normal both;
  border-bottom: 2px solid lightgray;
}

.box-info {
  height: 100%;
  width: 33.3%;
  background-color: none;
  display: inline-block;
}
.box-info h3 {
  font-size: 25px;
}

.box-left {
  float: left;
  position: relative;
}
.box-left p {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  font-size: 18px;
  margin: 0px;
  font-weight: 300;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  text-align: center;
}

.box-middle {
  position: relative;
}
.box-middle h3 {
  font-family: 'Roboto',sans-serif;
  margin: 0;
  color: #009688;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.time h3 {
  font-size: 25px;
}

.box-right {
  float: right;
  position: relative;
}

.box-right h3 {
  font-family: 'Roboto',sans-serif;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%) !important;
}

.box-right img {
  height: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

#tSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  -webkit-animation: windSpin linear infinite normal both;
  -moz-animation: windSpin linear infinite normal both;
  -ms-animation: windSpin linear infinite normal both;
  -o-animation: windSpin linear infinite normal both;
  animation: windSpin linear infinite normal both;
  height: 70%;
}

.forecast-card {
  height: 135px;
  width: 100%;
  background-color: #dddddd;
  -webkit-animation: fadeIn 2000ms ease 1 normal both;
  -moz-animation: fadeIn 2000ms ease 1 normal both;
  -ms-animation: fadeIn 2000ms ease 1 normal both;
  -o-animation: fadeIn 2000ms ease 1 normal both;
  animation: fadeIn 2000ms ease 1 normal both;
  border-bottom: 2px solid lightgray;
}

.box {
  height: 100%;
  width: 33.3%;
  background-color: none;
  display: inline-block;
}

.box-temp {
  position: relative;
}
.box-temp h3 {
  font-family: 'Roboto',sans-serif;
  font-size: 30px;
  margin: 0;
  color: #009688;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.box-temp h4 {
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  margin: 0;
  color: #009688;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%) !important;
}
.box-temp #forecast-degree {
  position: absolute;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  border: 3px solid #009688;
  left: 65%;
  top: 33%;
}

.box-date {
  float: left;
  position: relative;
}
.box-date p {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  font-size: 18px;
  margin: 0px;
  font-weight: 300;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  text-align: center;
}

.box-unit {
    position:relative;
    float: right;
}

.box-unit h3 {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  font-size: 30px;
  margin: 0px;
  font-weight: 300;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%) !important;
  text-align: center;
}

.box-summary {
    position:relative;
    float: right;
}

.box-summary h4 {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  font-size: 20px;
  margin: 0px;
  font-weight: 300;
  color: black;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%) !important;
  text-align: center;
}

.box-icon {
  position: relative;
  float: right;
}

.box-icon .box-icon-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  height: 60%;
}

.center {
  text-align: center;
}

.toggle-center {
    position:absolute;
    top:25%;
    left:25%;
}

.footer {
    margin-bottom: 100px;
}

