<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weather Bug</title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"/> -->
    <link rel="stylesheet" href="../static/css/index.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <script src="../static/lib/angular.min.js"></script>
    <script src="../static/lib/angular-route.min.js"></script>
    <script src="../static/lib/angular-resource.min.js"></script>
    <script src="../static/js/index.js"></script>

</head>

<body class="body" ng-app="weatherApp" ng-controller="weatherController">

<!-- Enter city -->
<section class="jumbotron">
    <div class="container">
        <form ng-submit="getForecast(inputLocation)">
            <div class="row">

                <div class="col-md-6 offset-md-2">
                    <input type="text" class="form-control" placeholder="Type in a location and press Enter" ng-model="inputLocation">
                </div>

                <!-- <div class="col-md-2">
                    <button type="button" class="btn btn-primary oi oi-chevron-right" ng-click="getForecast(location)">
                    </div> -->
                </div>
            </form>
        </div>
    </section>

<!-- display city -->
{% raw %}
<section class="container" ng-show="success">
    <div class="row">
        <div class="col-md-6 offset-md-2">

            <div class="mdl-shadow--6dp">

                <div id="header">

                    <!--box main content-->
                    <div id="main-header-container">
                        <div id='temperature-cell' class='temp-cell'>

                            <div id='temp-cell-number'>
                                <h2> {{current['temperature'] | fahToCel:changeUnit | number:0}}&deg;{{unit['weather']}}</h2>
                            </div>

                            <div id="temp-cell-city">
                                <p>{{location}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--tabs-->
                <div id="tab-header">
                    <div class="tab-center">
                        <button type="button" class="btn btn-link" ng-click="show(1)">Now</button>
                    </div>
                    <div class="tab-center">
                        <button type="button" class="btn btn-link" ng-click="show(2)">Hourly</button>
                    </div>
                    <div class="tab-center">
                        <button type="button" class="btn btn-link" ng-click="show(3)">Forecast</button>
                    </div>
                </div>

                <div ng-show="view == 1">

                    <!--panel one content-->
                    <div class="info-card">
                        <div class="box-left box-info time">
                            <p>Feels Like</p>
                        </div>

                        <div class="box-middle box-info time">
                            <h3>{{current['apparentTemperature'] | fahToCel:changeUnit | number:0}}</h3>
                        </div>

                        <div class="box-right box-info">
                            <h3>&deg;{{unit['weather']}}</h3>
                        </div>
                    </div>
                    <div class="info-card">
                        <div class="box-left box-info">
                            <p>Wind Speed</p>
                        </div>

                        <div class="box-middle box-info">
                            <h3>{{current['windSpeed'] | mphTokph:changeUnit | number:2}}</h3>
                        </div>

                        <div class="box-right box-info">
                            <h3>{{unit['windSpeed']}}</h3>
                        </div>

                    </div>
                    <div class="info-card">
                        <div class="box-left box-info">
                            <p>Humidity</p>
                        </div>

                        <div class="box-middle box-info">
                            <h3>{{current['humidity']*100 | number:0}}</h3>
                        </div>

                        <div class="box-right box-info">
                            <h3>{{unit['humid']}}</h3>
                        </div>

                    </div>
                    <div class="info-card">
                        <div class="box-left box-info">
                            <p>Chance of Rain</p>
                        </div>

                        <div class="box-middle box-info time">
                            <h3>{{current['precipProbability']}}</h3>
                        </div>

                        <div class="box-right box-info">
                            <h3>{{unit['rain']}}</h3>
                        </div>

                    </div>
                    <div class="info-card">
                        <div class="box-left box-info">
                            <p>Summary</p>
                        </div>

                        <div class="box-middle box-info time">
                            <h3>{{current['summary']}}</h3>
                        </div>

                    </div>

                </div>

                <div ng-show="view == 2">

                    <div ng-repeat="entry in hourly['data'] | limitTo:12">
                        <div class="forecast-card">
                            <div class="box box-date">
                                <p>{{(entry['time'] * 1000) | date:'h:mm a'}}</p>
                            </div>
                            <div class="box box-temp">
                                <h3>{{entry['temperature'] | fahToCel:changeUnit | number:0}}</h3>
                            </div>
                            <div class="box box-unit">
                                <h3>&deg;{{unit['weather']}}</h3>
                            </div>
                        </div>
                    </div>

                </div>

                <div ng-show="view == 3">
                    <div ng-repeat="entry in daily['data']">
                        <div class="forecast-card">
                            <div class="box box-date">
                                <p>{{(entry['time'] * 1000) | date:'MMM d'}}</p>
                            </div>
                            <div class="box box-temp">
                                <h4>{{entry['temperatureLow'] | fahToCel:changeUnit | number:0}}-{{entry['temperatureHigh'] | fahToCel:changeUnit | number:0}}</h4>
                            </div>
                            <div class="box box-summary">
                                <h4>{{entry['summary']}}</h4>
                            </div>

                        </div>
                    </div>

                </div>

                <!--F - C switch-->
                <div class="info-card footer">
                    <div class="box-right box-info">
                        <div class="toggle-center">
                            <button type="button" class="btn btn-info" ng-click=toggleUnit()>Toggle Units</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endraw %}

<!-- Display error message -->
<section class="container" ng-show="displayError">
    <div class="col">
        <div class="alert alert-danger center">
            <p>Sorry, the weather for your location is unavailable at this time.</p>
        </div>  
    </div>
</section>

</body>

</html>
